<%- include('./partials/upper.ejs') %>

<style>
    #notes{
        display: flex;
        height: 300px;
        justify-content: space-around;
        
    }
    #creatorsNote{
        width: 50%;
        /* border: 1px dashed black; */
        /* background-color: rgb(189, 168, 168); */
        height: 100%;
    }
    #stats{
        width: 30%; 
        border: 1px dashed black;
        background-color: rgb(189, 168, 168);
        height: 100%;
        padding: 5px;
    }
    li{
        text-align: left;
    }
    ul{
        margin-top: 20px;
        margin-left: 20px;
    }
</style>
<br> 
<div style="font-size: 30px;">Welcome to <b style="font-size:60px;color:coral;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">beSocial </b>  </div>
<br>
Create | Share | Engage | Enjoy | Socialize

<br><br>
<hr>
<br>

<div id="notes">

    <div id="creatorsNote">
        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia3eRUhmYU2Lc9ihFWLWwBSLauSXhtMeEFJF4Fe8yb89HQQCjNhSupSBZIX6TK1DLB7DBv4XP4f3MVb0Rr_hsR7OBLzsf9d4x40MQoHhIhuzoMEVdkkVOOAAazYFBUtYfZvQyBT0uy72nJOczKhe0QRDiX4i4Vk6J8_s1sOttDTstIRLyWTlWF_zgEhQ/s320/bSocialLogo.PNG" alt="">
    </div>
    <div id="stats">
        <h3>beSocial statistics</h3>
        <hr>
        <ul>
            <li>Total registered users : <%= totalRegisteredUsers %></li>
            <li>Total posts : <%= totalPosts %></li>
            <li>Total likes : <%= totalLikes %></li>
            <li>Total comments : <%= totalComments %></li>
            <li>Total post views : <%= totalPostViews %></li>
            <li>beSocial developer's handle: <a href="https://besocial.onrender.com/user?username=srudra754">srudra754</a> </li>
        </ul>
    </div>
</div>

<%- include('./partials/lower.ejs') %>